.flex {
  display: flex;
}
.mainpage {
  display: flex;
  height: 100vh;
}
.mainContent {
  width: 840px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.userContent,
.storeContent {
  flex: 1 0 auto;
  background: gray;
}

.myMoney {
  display: flex;
  align-items: center;
}

.myMoney img {
  width: 90px;
  margin: 20px;
}
.myMoney p {
  font-size: 40px;
  font-weight: bold;
}

.touchCards {
  display: flex;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 1px solid black;
  border-radius: 10px;
}

.card:hover {
  cursor: pointer;
  background-color: #ababab;
}

.card img {
  width: 100px;
}
.layout {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
.row {
  display: flex;
  margin: 20px;
}
.row button {
  padding: 10px;
  margin: 10px 20px;
}

.ranking {
  width: 140px;
}

.idontkonwo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-contents: space-between;
  width: 100%;
}
.idontkonwo * {
  margin: 30px 10px;
}

.storeContent {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.storeContent img {
  width: 100px;
  height: 100px;
}

.itemList img {
  width: 70px;
  height: 70px;
  padding: 0 20px 0 0;
}
.imgList {
  display: flex;
}

.item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  background-color: white;
  border-radius: 8px;
  margin: 30px 0;
}

.item:hover {
  background-color: #ababab;
  cursor: pointer;
}
